/*
    Media Queries
 */
/* Vars */
/* - - - - - - -  Utility Functions - - - - - - - - - */
/* - - - - - - - - -  Utility Mixins  - - - - - - - - - -  */
/* - - - - - - - - -  Public Mixins  - - - - - - - - - -  */
/* Custom Font Stacks */
/*
  Colors
*/
@media (min-width: 0) and (max-width: 766px) {
  .page-template-page-agegate .container.block-access {
    background-image: url("img/tjg/ara-mob-tjg-agegate.jpg");
  }
}
.page-template-page-agegate .container.block-access:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE8*/
  z-index: 1;
}
.page-template-page-agegate .container.block-access .btn-wrap {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE8*/
}
.page-template-page-agegate .container.block-access .landing-panel .logo {
  top: 9%;
}
@media (min-width: 767px) {
  .page-template-page-agegate .container.block-access .landing-panel .logo {
    top: 24%;
  }
}
.page-template-page-agegate .container.block-access .landing-panel.krone {
  background-image: url("img/tjg/ara-mob-krone-agegate.jpg");
}
@media (min-width: 767px) {
  .page-template-page-agegate .container.block-access .landing-panel.krone {
    background-image: url("img/tjg/ara-krone-agegate.jpg");
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .page-template-page-agegate .container.block-access .landing-panel.krone .logo {
    right: 16%;
    left: inherit;
    margin-right: -130px;
    margin-right: -9.2857142857rem;
  }
}
@media (min-width: 767px) {
  .page-template-page-agegate .container.block-access .landing-panel.tjg {
    background-image: url("img/tjg/ara-tjg-agegate.jpg");
  }
}
.page-template-page-agegate .container.block-access .landing-panel.tjg .logo {
  top: inherit;
  bottom: 9%;
  background-image: url("img/tjg/tjg-logo-white-trans-icon.svg");
}
@media (max-height: 320px) {
  .page-template-page-agegate .container.block-access .landing-panel.tjg .logo {
    margin-top: 27%;
  }
}
@media (min-width: 767px) {
  .page-template-page-agegate .container.block-access .landing-panel.tjg .logo {
    top: 24%;
    bottom: inherit;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .page-template-page-agegate .container.block-access .landing-panel.tjg .logo {
    left: 16%;
    margin-left: -130px;
    margin-left: -9.2857142857rem;
  }
}

.agegate-wrap {
  display: none;
  position: absolute;
  top: 47%;
  left: 50%;
  background: #fff;
  border: 1px solid #c4a364;
  color: #c4a364;
  text-align: center;
  z-index: 2;
  width: 230px;
  width: 16.4285714286rem;
  margin-left: -115px;
  margin-left: -8.2142857143rem;
  margin-top: -130px;
  margin-top: -9.2857142857rem;
  padding-left: 20px;
  padding-left: 1.4285714286rem;
  padding-right: 20px;
  padding-right: 1.4285714286rem;
}
@media (min-width: 767px) {
  .agegate-wrap {
    top: 40%;
  }
}
.agegate-wrap h3 {
  margin-bottom: 5.75px;
  margin-bottom: 0.4107142857rem;
}

#agegate-form .mbsc-mobiscroll .dwwb {
  background: #fff;
}
#agegate-form .mbsc-mobiscroll .dwwb span {
  display: block;
}
#agegate-form .mbsc-mobiscroll .dwwol {
  border: none;
}
#agegate-form .mbsc-mobiscroll .dwwr {
  font-family: 'Cinzel', serif !important;
  font-weight: 400;
}
#agegate-form .mbsc-mobiscroll .dw-sel .dw-i {
  color: #8d7d55;
  font-size: 1.35em;
}
#agegate-form .mbsc-mobiscroll .dwwc > .dwfl {
  border-left: none;
}
#agegate-form .mbsc-mobiscroll i {
  color: #c4a364;
  font-size: 40px;
  font-size: 2.8571428571rem;
}

#sera_verify {
  border: 1px solid;
  display: block;
  font-size: 1.3125rem;
  line-height: 26px;
  background: white;
  color: #c4a364;
  min-width: 100%;
  padding: 5px;
  padding: 0.3571428571rem;
  margin-top: 11.5px;
  margin-top: 0.8214285714rem;
}
#sera_verify:hover {
  text-decoration: none;
}

#sera-overlay-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 10000;
  display: block;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
@media (min-width: 0) and (max-width: 766px) {
  #sera-overlay-wrap {
    background-image: url("img/tjg/ara-mob-tjg-agegate.jpg");
  }
}
#sera-overlay-wrap:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE8*/
  z-index: 1;
}
#sera-overlay-wrap #sera-overlay-inner {
  height: 100%;
  width: 100%;
  z-index: 2;
}
#sera-overlay-wrap #sera-overlay-inner #sera-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}
#sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel .logo {
  top: 9%;
}
@media (min-width: 767px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel .logo {
    top: 24%;
  }
}
#sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.krone {
  background-image: url("img/tjg/ara-mob-krone-agegate.jpg");
}
@media (min-width: 767px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.krone {
    background-image: url("img/tjg/ara-krone-agegate.jpg");
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.krone .logo {
    right: 16%;
    left: inherit;
    margin-right: -130px;
    margin-right: -9.2857142857rem;
  }
}
@media (min-width: 767px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.tjg {
    background-image: url("img/tjg/ara-tjg-agegate.jpg");
  }
}
#sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.tjg .logo {
  top: inherit;
  bottom: 9%;
  background-image: url("img/tjg/tjg-logo-white-trans-icon.svg");
}
@media (max-height: 320px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.tjg .logo {
    margin-top: 27%;
  }
}
@media (min-width: 767px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.tjg .logo {
    top: 24%;
    bottom: inherit;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  #sera-overlay-wrap #sera-overlay-inner #sera-overlay .landing-panel.tjg .logo {
    left: 16%;
    margin-left: -130px;
    margin-left: -9.2857142857rem;
  }
}
