#sera-overlay-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 10000;
  display: block;
  top: 0;
  left: 0;
  border: 10px solid #95c888;
}
#sera-overlay-wrap #sera-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 10001;
  text-align: center;
  padding: 30px 40px 34px;
  color: white;
}
#sera-overlay-wrap #sera-overlay h3 {
  margin-bottom: 20px;
}
#sera-overlay-wrap #sera-overlay p {
  margin-bottom: 10px;
}
#sera-overlay-wrap #sera-overlay .submit {
  margin-bottom: 0;
}
#sera-overlay-wrap #sera-overlay input[type=text] {
  width: 50px;
  outline: none;
}
#sera-overlay-wrap #sera-overlay #sera_verify_y {
  width: 70px;
}
#sera-overlay-wrap #sera-overlay .error {
  padding: 12px;
  background-color: #ffebe8;
  border: 1px solid #c00;
  border-radius: 3px;
}
@media screen and (min-width: 400px) {
  #sera-overlay-wrap #sera-overlay {
    position: relative;
    top: auto;
    left: auto;
    width: 40%;
    height: auto;
    margin: 100px auto 0 auto;
  }
}
